{% extends 'appentrega/base.html' %}

{% block titulo %}  About{% endblock titulo %}
{% block titulo2 %}  About{% endblock titulo2 %}



{% block busqueda %}
<div class="col-xl-6">
    <div class="text-center text-white">
        <!-- Page heading-->
        <h1 class="mb-5"> </h1>
        <p> Hola este es el sitio creado por Sebastián Villero</br> 
            <hr class="divider" />
            

            Les cuento un poco sobre mi: </br>     </br>       
            Tengo 39 años y soy de Uruguay</br>
            Trabajo en una empresa de software que se dedica a la intermediacion financiera</br>
            Me desempeño principalmente como Analista Tecnico-Funcional</br>
            Y más que nada mi experiencia es con Java, Genexus, C# y analisis funcional</br>
           
            Gracias por ingresar</br>
            Disfrute mucho el curso de Python</br> 
            Saludos!</br> 
            
        
        
        </p>
        </div>

    </div>
</div>
{% endblock %}

