{% extends 'appentrega/base.html' %}

{% block titulo %}  Sistema de Gestion de Requerimientos{% endblock titulo %}
{% block titulo2 %}  Sistema de Gestion de Requerimientos{% endblock titulo2 %}



{% block busqueda %}
<div class="col-xl-6">
    <div class="text-center text-white">
        <!-- Page heading-->
        <h1 class="mb-5"> </h1>
        <p> Bienvenidos a nuestro sistema!!! </br> 
            <hr class="divider" />
            Actualmente nos encontramos en construccion pero estas funcionalidades estan complamente operativas: </br>     </br>       
            Crear Requerimientos </br>
            Buscar Requerimientos</br>
            Crear Proyectos</br>
            Crear Clientes</br>
            Crear Colaboradores</br>
        
        
        </p>
        </div>

    </div>
</div>
{% endblock %}

{% block avatar %}


    <div class="container text-center">
        <p style="color: rgb(11, 21, 11); font-size: 15px;font-weight: 50px;">Bienvenido {{user.username}}</p>
        
    </div>
    <div class="container text-center">
        <img height="40px" src = "{{url}}">
    </div>

{% endblock %}
