{% extends 'appentrega/base.html' %}

{% block titulo %}  Sistema de Gestion de Requerimientos{% endblock titulo %}
{% block titulo2 %}  Sistema de Gestion de Requerimientos{% endblock titulo2 %}



{% block busqueda %}
<div class="col-xl-6">
    <div class="text-center text-white">
        <!-- Page heading-->
        <h1 class="mb-5"> </h1>
        <p> Bienvenidos a nuestro sistema!!! </br> 
            <hr class="divider" />
            {% if request.user.is_authenticated %}  

                Lista de funcionalidades completamente operativas para los usuarios registrados: </br>     </br>       
                Requerimientos - Lugar para crear, editar y eliminar requerimientos</br>
                Buscar Requerimientos</br>
                Proyectos - Lugar para crear, editar y eliminar proyectos</br>
                Clientes - Lugar para crear, editar y eliminar clientes</br>
                Colaboradores - Lugar para crear, editar y eliminar colaboradores</br>
                Mensajes - Lugar para dejarse mensajes entre los distintos usuarios</br>
                Editar usuario</br>
                Agregar avatar</br> 
            {% else %}
                Lista de funcionalidades completamente operativas para los usuarios no registrados: </br>     </br>       
                Registrate </br>
                Login </br>


            {% endif %}
        
        
        </p>
        </div>

    </div>
</div>
{% endblock %}

{% block avatar %}


    <div class="container text-center">
        <p style="color: rgb(11, 21, 11); font-size: 15px;font-weight: 50px;">Bienvenido {{user.username}}</p>
        
    </div>
    <div class="container text-center">
        <img height="40px" src = "{{url}}">
    </div>

{% endblock %}
