{% extends 'appentrega/base.html' %}

{% block titulo %}  Requerimientos {% endblock titulo %}
{% block titulo2 %}  Requerimientos {% endblock titulo2 %}


{% block listado_requerimientos %}

    {% for requerimiento in requerimientos %}                  

        <div class="col-lg-8 align-self-end">
            
            <p> Nombre: {{requerimiento.nombre}} <br/> Numero:{{requerimiento.numero}} <br/> Estado:{{requerimiento.estado}} </p>
            
            <hr class="divider" />
        </div>
    {% endfor %}
    

{% endblock listado_requerimientos%}

{% block busqueda %} 
    
    <div>
        <form method="get" >{% csrf_token %}
            {{formulario.as_p}}
            <input type="submit" value="Buscar">
        </form>        
    </div>
{% endblock %}