{% extends 'appentrega/base.html' %}

{% block titulo %}  Crear clientes{% endblock titulo %}
{% block titulo2 %}  Crear clientes{% endblock titulo2 %}

{% block busqueda %}
    <form method="post">{% csrf_token %}

        {{ formulario.as_p }}

        <input type="submit" value="Crear">
    </form>

{% endblock %}


{% block lista %} 
<p> </br>LISTA CLIENTES </br></p>
{% endblock lista %}

{% block listado_requerimientos %}

    {% for cliente in clientes %}         
            
            <p> Rut: {{cliente.rut}} - Nombre:{{cliente.razon_social}}  
            <a href="{%url 'borrar_cliente' cliente.id %}">Borrar</a> 
            <a href="{%url 'editar_cliente' cliente.id %}">Editar</a>  
            
        </p> 
        
    {% endfor %}
    

{% endblock listado_requerimientos%}