{% extends 'appentrega/base.html' %}

{% block titulo %}  Crear requerimientos {% endblock titulo %}
{% block titulo2 %}  Crear requerimientos {% endblock titulo2 %}

{% block busqueda %}
    <form method="post">{% csrf_token %}

        {{ formulario.as_p }}

        <input type="submit" value="Crear">
    </form>

{% endblock %}

{% block lista %} 
<p> </br>LISTA REQUERIMIENTOS </br></p>
{% endblock lista %}

{% block listado_requerimientos %}

    {% for requerimiento in requerimientos %}         
            
            <p> Nombre: {{requerimiento.nombre}} - Numero:{{requerimiento.numero}}  
            <a href="{%url 'borrar_requerimiento' requerimiento.id %}">Borrar</a> 
            <a href="{%url 'editar_requerimiento' requerimiento.id %}">Editar</a>  
            
        </p> 
        
    {% endfor %}
    

{% endblock listado_requerimientos%}