{% extends 'appentrega/base.html' %}

{% block titulo %}  Buscar Requerimientos {% endblock titulo %}
{% block titulo2 %}  Buscar Requerimientos {% endblock titulo2 %}

{% block lista %} 

   
    <p> </br>LISTA REQUERIMIENTOS </br></p>
{% endblock lista %}

{% block listado_requerimientos %}

    {% for requerimiento in requerimientos %}         
            
            <p> Nombre: {{requerimiento.nombre}} - Numero:{{requerimiento.numero}} - Estado:{{requerimiento.estado}} </p>   
        
    {% endfor %}
    

{% endblock listado_requerimientos%}

{% block busqueda %} 
    
    <div>
        <form method="get" >{% csrf_token %}
            {{formulario.as_p}}
            <input type="submit" value="Buscar">
        </form>        
    </div>
{% endblock %}